﻿@model Assignment.Models.Data

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Data</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" style="padding:20px">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="wrap-input100 validate-input" data-validate="Enter username">
                <input  id="user_name" type="text" placeholder="User Name">
                <span class="focus-input100" data-placeholder="&#xf207;"></span>
            </div>
            <div class="container-login100-form-btn">
                <input type="submit" id="" onclick="sub()" value="Login" class="login100-form-btn" />
            </div>
            <div class="text-center p-t-90">
                <a onclick="jhj()" class="txt1" href="#">
                    Forgot Password?
                </a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
