﻿@model IEnumerable<Assignment.Models.Data>
@{
    ViewData["Title"] = "Index";
}
<h2>Name             @ViewBag.Name</h2>
<p>
</p>
<div class="row">
    <div class="col-md-4">
        <form style="padding:20px">
            <div class="wrap-input100 validate-input">
                <input id="Name" name="Nane">
                <span class="focus-input100" data-placeholder="&#xf191;"></span>
                <input onclick="sub()" id="" type="button" value="Save" class="login100-form-btn" />
            </div>
            <div>
                
                @*<button class="login100-form-btn">
                        Login
                    </button>*@
            </div>
            <div class="text-center p-t-90">
            </div>
        </form>
    </div>
</div>

<script>

</script>
<script>

    function sub() {
        var fg = {};
        fg.Name = document.getElementById('Name').value;
        $.ajax({
            url: '@Url.Action("Edit")',
            data: fg,
            type: 'Post',
            success: function (data) {
                //alert('Done');
                var tbl = document.getElementById('tbl');
                var rows="";
                for (i = 0; i < data.length; i++) {
                    rows += `<tr>
                <td>`+ data[i].seq + `</td>
                <td>`+ data[i].nane + `</td>
                <td>`+ data[i].last_update + `</td>
                <td>
                <a href="#" class="up">
<img src="~/images/up.png" style="height:20px;width:20px"/></a>
                <a href="#" class="down">
<img src="~/images/down.png" style="height:20px;width:20px"/></a>
 <a href="#" class="save" id="save_btn">Save</a>
            </td>
            </tr>`;
                }
                tbl.innerHTML = rows;
            },
            error: function () {
                alert('Something Went Wrong!')
            }
        });
    }
</script>
<br />
<hr />
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbl">
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Seq</td>
            <td>@item.Nane</td>
            <td>@item.Last_update</td>
            
                @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
            <td>
                <a href="#" class="up">
                    <img src="~/images/up.png" style="height:20px;width:20px"/>
                </a>
                <a href="#" class="down">
                    <img src="~/images/down.png" style="height:20px;width:20px"/>
                </a>
                <a href="#" class="save" id="save_btn">Save</a>
            </td>
            
        </tr>
        }
    </tbody>
</table>
<script src="~/js/jquery.js"></script>
<script src="~/js/jquery-2.2.3.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(".up,.down").click(function () {
        var row = $(this).parents("tr:first");
        if($(this).is(".up")) {
            row.insertBefore(row.prev());
            
            
        } else {
            row.insertAfter(row.next());
        }
        var fg = document.getElementById('tbl');
        for (i = 0; i < fg.rows.length; i++) {
            fg.rows[i].cells[0].innerText = i + 1;
        }
    });
    $('.save').click(function () {
        var fg = document.getElementById('tbl').rows;
        var data1 = [];
        for (i = 0; i < fg.length; i++) {
            data1[i] = fg[i].cells[1].innerText;
        }
        var hj = {};
        hj.data1 = data1;
        $.ajax({
            url: '@Url.Action("Save_seq")',
            data: hj,
            type: 'Post',
            success: function (data) {
                //alert('Done');
            //    var tbl = document.getElementById('tbl');
            //    var rows="";
            //    for (i = 0; i < data.length; i++) {
            //        rows += `<tr>
            //    <td>`+ data[i].seq + `</td>
            //    <td>`+ data[i].nane + `</td>
            //    <td>`+ data[i].last_update + `</td>
            //    <td>
            //    <a href="#" class="up">Up</a>
            //    <a href="#" class="down">Down</a>
            //</td>
            //</tr>`;
                //}
                tbl.innerHTML = rows;
            },
            error: function () {
                alert('Something Went Wrong!')
            }
        });


    });
</script>