﻿@model Assignment.Models.Login
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/login_util.css">
    <link rel="stylesheet" type="text/css" href="~/css/login_main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('/images/login_bg.jpg');">
            <div class="wrap-login100">
                <form asp-action="Login" style="padding:20px">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>
                    <span class="login100-form-title p-b-34 p-t-27">
                        Log in
                    </span>
                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input asp-for="Registration_no" class="input100" type="text" placeholder="User Name">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input asp-for="Password" class="input100" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>
                    <div class="capt">
                        <h2 type="text" id="mainCaptcha"></h2><br /><br />
                        <br />
                                    <input type="text" id="txtInput" />
                        <input id="Button1" type="button" value="Check" onclick="ValidCaptcha()" />
                    </div>
                    <div class="container-login100-form-btn">
                        <input disabled="disabled" type="submit" id="btn" value="Login" class="login100-form-btn" />
                        @*<button class="login100-form-btn">
                Login
            </button>*@
                    </div>
                </form>
            </div>
        </div>
    </div>
    @{
        if (TempData["msg"] != null)
        {
            <script>alert('@TempData["msg"]');</script>
        }
    }
    <div id="dropDownSelect1"></div>
    <script>
        function jhj(){
        alert('called');
        if(document.getElementById('Registration_no').value==''){
            alert('Please Enter Registration No.')
        }
        else{
            $.ajax({
                url:'@Url.Action("Forgot_password")',
                data:document.getElementById('Registration_no').value,
                type:'Post',
                success:function(data){
                    alert('Done');
                    alert(data);
                },
                error:function(){
                    alert('Something Went Wrong!')
                }
            });
        }
        }
    </script>
    <!--===============================================================================================-->
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/daterangepicker/moment.min.js"></script>
    <script src="/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/login_main.js"></script>
    <style>
        .capt {
            background-color: grey;
            width: 300px;
            height: 100px;
        }

        #mainCaptcha {
            position: relative;
            left: 60px;
            top: 5px;
        }

        #refresh {
            position: relative;
            left: 230px;
            width: 30px;
            height: 30px;
            bottom: 45px;
            background-image: url(rpt.jpg);
        }

        #txtInput, #Button1 {
            position: relative;
            left: 40px;
            bottom: 40px;
        }
    </style>
    <script>
            var alpha = new Array('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z',
                'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z',
                '0', '1', '2', '3', '4', '5', '6', '7', '8', '9');
            var i;
            for (i = 0; i < 6; i++) {
                var a = alpha[Math.floor(Math.random() * alpha.length)];
                var b = alpha[Math.floor(Math.random() * alpha.length)];
                var c = alpha[Math.floor(Math.random() * alpha.length)];
                var d = alpha[Math.floor(Math.random() * alpha.length)];
                var e = alpha[Math.floor(Math.random() * alpha.length)];
                var f = alpha[Math.floor(Math.random() * alpha.length)];
                var g = alpha[Math.floor(Math.random() * alpha.length)];
            }
            var code = a + ' ' + b + ' ' + ' ' + c + ' ' + d + ' ' + e + ' ' + f + ' ' + g;
            document.getElementById("mainCaptcha").innerHTML = code
            document.getElementById("mainCaptcha").value = code
        
        function ValidCaptcha() {
            var string1 = removeSpaces(document.getElementById('mainCaptcha').value);
            var string2 = removeSpaces(document.getElementById('txtInput').value);
            if (string1 == string2) {
                document.getElementById('btn').disabled = false;
            } else {
                
            }
        }
        function removeSpaces(string) {
            return string.split(' ').join('');
        }
    </script>
</body>
</html>